@import url('https://fonts.googleapis.com/css2?family=Lato:wght@700&display=swap');

.navbar-container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 75px;
    background-color: #ECEFF4;
    box-shadow: 0 4px 5px #D8DEE9;

}
.navbar-right{
    display:flex;
    flex-direction: row;
    align-items:center;
    margin-right: 20px;
}
.login-navBar,.cart-navBar{
    padding: 0px 10px;

}
ul{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    list-style-type: none;
    padding: 0px;
}
li{
    margin:10px 15px;
    text-align: center;
}
a{
    text-decoration: none;
    color: #5E81AC;
    font-size: 19px;

}

.img-btn-navBar{
    width: 30px;
}
.btn-navBar{
    padding: 5px;
    border: none;
    background-color: transparent;
    cursor:pointer;
}

body{
    font-family: 'Lato', sans-serif;



}

