@import url('https://fonts.googleapis.com/css2?family=Varela+Round&display=swap');

.navbar-container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 100px;
    background-color: #ECEFF4;
    box-shadow: 0 4px 5px #D8DEE9;

}
.navbar-right{
    display:flex;
    flex-direction: row;
    align-items:center;
    margin-right: 20px;
}

.navbar-left{
    display:flex;
    flex-direction: row;
    align-items:center;
    margin-left: 20px;
}
.login-navBar,.cart-navBar{
    padding: 0px 10px;

}
.logo-navBar{
    height: 75px;
}
ul{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    list-style-type: none;
    padding: 0px;
}
li{
    margin:0px 15px;
    text-align: center;
}
a{
    text-decoration: none;
    color: #5E81AC;
    font-size: 19px;

}

.img-btn-navBar{
    width: 30px;
}
.btn-navBar{
    padding: 5px;
    border: none;
    background-color: transparent;
    cursor:pointer;
}

body{
    margin: 0px;
    padding: 0px;
    font-family: 'Varela Round', sans-serif;
    font-weight: 600;
}
.itemCount-container{
    display: flex;
    flex-direction: column;
    width: 300px;
    height: 180px;
    background-color: #ECEFF4;
    box-shadow: 0 4px 5px #D8DEE9;
    border-radius: 10px;
    margin: 0px auto;
    color:#5E81AC;

}
.item-count{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 0px 30px;
    background-color: white;
    border-radius: 10px;


}
.btn-count{
    font-size: 30px;
    width: 40px;
    height: 40px;
    margin: 0px 15px;
    border: none;
    background-color: transparent;
    cursor:pointer;
    color: #88C0D0;
}
.contador{
    font-size: 30px;
    margin: 0px;
    padding: 0px 15px;
}
.btn-add{
    background-color: #5E81AC;
    border: none;
    border-radius: 10px;
    color: white;
    font-size: 20px;
    padding: 10px;
    cursor: pointer;
    font-family: 'Varela Round', sans-serif;
}
.item-add{
    margin:20px 0px;
}